<div class="container" id="home-container">
  <div class="bg-light text-center text-white" id="home-splash">
    <h1 class="fw-light" id="home-header">AlphaBlog</h1>
    <p class="lead">This is a simple blog site, created using Ruby on Rails.</p>
    <p>I built it to familiarize myself with the framework.</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lrg" %>
  </div>
</div>